<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
      
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_SOPOR" maxReceivedMessageSize="2147483646" />
                <binding name="BasicHttpBinding_IOWTR" maxReceivedMessageSize="2147483646" />
                <binding name="BasicHttpBinding_IOCRD" maxReceivedMessageSize="2147483646" />
                <binding name="BasicHttpBinding_IOITM" maxReceivedMessageSize="2147483646" />
                <binding name="BasicHttpBinding_IORTT" maxReceivedMessageSize="2147483646" />
                <binding name="BasicHttpBinding_SORDR" />
                <binding name="BasicHttpBinding_SOPOR1" />
                <binding name="BasicHttpBinding_IOWTR1" maxReceivedMessageSize="2147483646" />
                <binding name="BasicHttpBinding_IOPDN" maxReceivedMessageSize="2147483646" />
                <binding name="BasicHttpBinding_IORPD" maxReceivedMessageSize="2147483646" />
                <binding name="BasicHttpBinding_SOCRD" />
                <binding name="BasicHttpBinding_SOSLP" />
                <binding name="BasicHttpBinding_Iconfig" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://169.54.164.163:99/ServiceIC.svc" behaviorConfiguration=""
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SOPOR"
                contract="ServiceIC.SOPOR" name="BasicHttpBinding_SOPOR" />
            <endpoint address="http://169.54.164.163:99/ServiceIC.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IOWTR" contract="ServiceIC.IOWTR"
                name="BasicHttpBinding_IOWTR" />
            <endpoint address="http://169.47.196.210:9091/Services/ServiceI.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iconfig"
                contract="ServiceRDCIC.Iconfig" name="BasicHttpBinding_Iconfig" />
            <endpoint address="http://169.47.196.210:9091/Services/ServiceI.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SORDR"
                contract="ServiceRDCIC.SORDR" name="BasicHttpBinding_SORDR" />
            <endpoint address="http://169.47.196.210:9091/Services/ServiceI.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SOPOR1"
                contract="ServiceRDCIC.SOPOR" name="BasicHttpBinding_SOPOR1" />
            <endpoint address="http://169.47.196.210:9091/Services/ServiceI.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOWTR1"
                contract="ServiceRDCIC.IOWTR" name="BasicHttpBinding_IOWTR1" />
            <endpoint address="http://169.47.196.210:9091/Services/ServiceI.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOPDN"
                contract="ServiceRDCIC.IOPDN" name="BasicHttpBinding_IOPDN" />
            <endpoint address="http://169.47.196.210:9091/Services/ServiceI.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IORPD"
                contract="ServiceRDCIC.IORPD" name="BasicHttpBinding_IORPD" />
            <endpoint address="http://169.47.196.210:9091/Services/ServiceI.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SOCRD"
                contract="ServiceRDCIC.SOCRD" name="BasicHttpBinding_SOCRD" />
            <endpoint address="http://169.47.196.210:9091/Services/ServiceI.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SOSLP"
                contract="ServiceRDCIC.SOSLP" name="BasicHttpBinding_SOSLP" />
            <endpoint address="http://localhost:53141/Services/ServiceC.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOCRD"
                contract="ServiceSap.IOCRD" name="BasicHttpBinding_IOCRD" />
            <endpoint address="http://localhost:53141/Services/ServiceC.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOITM"
                contract="ServiceSap.IOITM" name="BasicHttpBinding_IOITM" />
            <endpoint address="http://localhost:53141/Services/ServiceC.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IORTT"
                contract="ServiceSap.IORTT" name="BasicHttpBinding_IORTT" />
        </client>
    </system.serviceModel>
</configuration>
