<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
        
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Iconfig" />
                <binding name="BasicHttpBinding_SORDR" />
                <binding name="BasicHttpBinding_SOCRD" />
                <binding name="BasicHttpBinding_IOCRD" />
                <binding name="BasicHttpBinding_IOITM" />
                <binding name="BasicHttpBinding_IORTT" />
                <binding name="BasicHttpBinding_SOPOR" />
                <binding name="BasicHttpBinding_SOJDT" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.186.52.143:9693/Services/ServiceC.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOCRD"
                contract="svcSAPC.IOCRD" name="BasicHttpBinding_IOCRD" />
            <endpoint address="http://10.186.52.143:9693/Services/ServiceC.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOITM"
                contract="svcSAPC.IOITM" name="BasicHttpBinding_IOITM" />
            <endpoint address="http://10.186.52.143:9693/Services/ServiceC.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IORTT"
                contract="svcSAPC.IORTT" name="BasicHttpBinding_IORTT" />
            <endpoint address="http://10.186.52.143:9693/Services/ServiceI.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iconfig"
                contract="svcSAPI.Iconfig" name="BasicHttpBinding_Iconfig" />
            <endpoint address="http://10.186.52.143:9693/Services/ServiceI.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SORDR"
                contract="svcSAPI.SORDR" name="BasicHttpBinding_SORDR" />
            <endpoint address="http://10.186.52.143:9693/Services/ServiceI.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SOCRD"
                contract="svcSAPI.SOCRD" name="BasicHttpBinding_SOCRD" />
            <endpoint address="http://10.186.52.143:9693/Services/ServiceI.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SOPOR"
                contract="svcSAPI.SOPOR" name="BasicHttpBinding_SOPOR" />
            <endpoint address="http://10.186.52.143:9693/Services/ServiceI.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SOJDT"
                contract="svcSAPI.SOJDT" name="BasicHttpBinding_SOJDT" />
        </client>
    </system.serviceModel>
</configuration>